{% extends 'Shipper/base.html' %}

{% block content %}
    <div class='mt-7 p-5 banner-image'>
        <div class='text-white'>
            <h1 style='font-size: 3.0rem'>ABOUT US</h1>
            <h5>BEST COURIER GATEWAY TO OVER 107 COUNTRIES</h5>
        </div>
    </div>

    <div style='min-height: 60vh' class='p-5'>
        <h4>Welcome to Aurora Logistics</h4>
        <p>
            Founded in 1998, we offer our customers a wide range of first-class logistics services.
        </p>
        <p>
            We have grown into a reliable and respected partner for both national express deliveries and international shipping services, by focusing on the needs of our customers. We offer them fluent support, boosted by innovative technological solutions to support all our operations. Aurora Logistics invests in its efficient e-platform, launched in 2005, to fluently generate, track and trace orders, receive proof of delivery and manage invoices.
        </p>
        <p>
            With time critical services, its customer can count on its fast and reliable solutions to follow their shipment to its destination in real time.
        </p>
    </div>
{% endblock content %}