{% extends 'Shipper/base.html' %}

{% block content %}
    <div class='mt-7 p-5 banner-image'>
        <div class='text-white'>
            <h1 style='font-size: 3.0rem'>CONTACT US</h1>
            <h5>BEST COURIER GATEWAY TO OVER 107 COUNTRIES</h5>
        </div>
    </div>

    <div style="min-height: 60vh" class='p-3 d-flex justify-content-center'>
        <p>
            Do you need solid global logistics solutions? <br>
            Looking for a trusted partner for your international deliveries?
        </p>
    </div>
{% endblock content %}