{% extends 'Shipper/base.html' %}

{% block content %}
    <div class='mt-7 p-5 banner-image'>
        <div class='text-white'>
            <h1 style='font-size: 3.0rem'>GENERAL TERMS </h1>
            <h5>BEST COURIER GATEWAY TO OVER 107 COUNTRIES</h5>
        </div>
    </div>

    <div class='p-5'>
        <h4>General Terms of Sale and Transport</h4>
        <p>
            <b>1</b>. Field of application In handing over goods for shipment to Mark Express, the principal acknowledges and accepts the present conditions and their application to the entire contractual relationship between the parties. Furthermore, the general terms of the Expéditeurs de Belgique, published by the Belgian Monitor on 24 July 1980, are also applicable between the parties when the present conditions do not expressly digress from them. In case of conflict between the present general terms and the principal, the general terms of Mark Express will prevail. Digression from the present terms is only possible with the written, express and prior agreement of an administrator from Mark Express. The present general terms are applicable even if the principal subsequently provides a verbal order which is not confirmed by the signature of an order form.
        </p>

        <p>
            <b>2</b>. Obligation of the principal The principal assumes entire responsibility for the appropriate packaging and labelling of the goods to be consigned, in order to ensure their safe transport. He is responsible for correctly completing the dispatch notes and all other transport documents. In general, all costs other than the shipment cost are to be paid exclusively by the principal, including customs duty and customs clearance fées.
        </p>

        <p>
            <b>3</b>. Delivery time Delivery times are provided purely as an indication. Mark Express will do its outmost to respect them, without the principal being able to diam any damages or interest in the event of a delay in delivery, for whatever reason.
        </p>

        <p>
            <b>4</b>. Limitation of the responsibility of Mark Express. All acts, which are directly or indirectly connected to the consignment, are undertaken on behalf of and at the risk of the principal. In case of loss or damage to the goods to be consigned, the responsibility of Mark Express is limited in all instances, even when it is clearly the fault of Mark Express or one of its employees, to the intrinsic value of the goods and, whatever the case, to a maximum amount of 125 Euros per consignment, whatever the reason for loss or damage.
        </p>

        <p>
            <b>5</b>. Exemption of the responsibility of Mark Express Under no circumstances will Mark Express be held responsible for direct or indirect damages, including loss of use or loss of earnings. Mark Express will not be responsible in case of loss, in case of reasons beyond its control, or due to independent factors, such as weather conditions, strikes, blockades, epidemics, demonstrations, riots, wars or mechanical or technical problems of any kind. Mark Express is not responsible for damages caused by third parties or by the principal, in particular caused by a third party or the principal, in particular damages caused by insufficient or inadequate packaging of goods or by incomplete, inaccurate or erroneous information relating to the consignee.
        </p>

        <p>
            <b>6</b>. Items excluded from transportation The principal is forbidden to demand the transportation of glass, live animals, liquids, perishable goods, gas, fireworks and all other goods which cannot be legally transported without special authorization.
        </p>
        
        <p>
            <b>7</b>. Subcontractors or agents Mark Express. is authorized to ensure that all or part of the shipment and transportation services or part of the shipment and transportation services are provided through its own services or via the intermediary of agents or subcontractors subject to the same condition.
        </p>
        
        <p>
            <b>8</b>. Complaints In order to be admissible, all complaints must be made by means of a registered letter addressed to the head office of Mark Express within 8 days of the shipment. The principal is forbidden from pleading for any loss or destruction of goods in order to totally or partially suspend the payment of amounts for which he is liable, on whatever grounds, towards Mark Express.
        </p>
        
        <p>
            <b>9</b>. Payment All invoices are payable in cash to the head office of Mark Express or upon reception of the goods, except when issued by an administrator of Mark Express Upon expiry, all unpaid invoices will rightfully and without notice include interests calculated at a rate of 12% per year. Furthermore, all invoices which remain unpaid when due will include an irreducible lump sum payment of 15% of the invoice total, with a minimum of 75 Euros, as a penalty clause. Mark Express reserves the right to secure all goods in its possession and belonging to the principal, as a guarantee for recovering all unpaid amounts.
        </p>

        <p>
            <b>10</b>. Applicable law and court of competent jurisdiction The relationship between Mark Express and the principal is governed by Belgian law. In case of litigation, except for amicable agreements, the Brussels courts have sole competence.
        </p>

        <p>
            <b>11</b>. Divisibility The possible nullity of any clause of the present terms does not compromise the applicability of the other provisions
        </p>
        
    </div>
{% endblock content %}