{% extends 'Shipper/base.html' %}

{% block content %}
  <!-- Banner Image -->
  <div class="banner-image w-100 vh-80 d-flex justify-content-center align-items-center">
    <div class="content text-center">
      <h1 class="text-white float-right">COURIER GATEWAY TO OVER 107 COUNTRIES</h1>
      <div class="mt-5">
        <a href="{% url 'track_search' %}" class="btn btn-danger">TRACK DELIVERY</a>
        <a href="{% url 'about' %}" class="btn btn-danger">ABOUT US</a>
      </div>
    </div>
  </div>

  
    <div class="container row center-items">
        <div class="col-md-4 text-center">
            <center>
                <div class="box-rounded bg-gradient-green">
                    <i class="bi bi-speedometer2 text-white" style="font-size: 2rem;"></i>
                </div>
            </center>
            <h4>Our Mission</h4>
            <p>We deliver high added value, by providing the best-suited logistics solutions for our customers.</p>
        </div>

        <div class="col-md-4 text-center">
            <center>
                <div class="box-rounded bg-gradient-green">
                    <i class="bi bi-tools text-white" style="font-size: 2rem;"></i>
                </div>
            </center>
            <h4>Our Services</h4>
            <p>National Express Delivery, National Next Day Delivery, International Express Delivery, Special Delivery Services, Fulfillment, E-commerce Solutions</p>
        </div>

        <div class="col-md-4 text-center">
            <center>
                <div class="box-rounded bg-gradient-green">
                    <i class="bi bi-stopwatch text-white" style="font-size: 2rem;"></i>
                </div>
            </center>
            <h4>OUR COMMITMENT</h4>
            <p>We deliver high added value, by providing the best-suited logistics solutions for our customers.</p>
        </div>
    </div>

    <!-- ABOUT PAGE -->
    <div class="bg-grey w-100 p-5 row">
        <div class="col-md-6 col-xs-12">
            <h5>ABOUT US</h5>
            <h3>WELCOME TO WEB LOGISTICS !</h3>
            <p>
                Founded in 1998, we offer our customers a wide range of first-class logistics services
                We have grown into a reliable and respected partner for both national and international 
                express deliveries services, by focusing on the needs of our customers.
            </p>
            <a href="{% url 'about' %}" class="btn btn-outline-success float-right">MORE ABOUT US</a>
        </div>

        <div class="col-md-6 col-xs-12">
            <img src="/static/img/transport1.png" alt="" class="img-fluid">
        </div>
    </div>
    <hr>

    <!-- OUR SERVICES -->
    <h1 class="text-center">OUR SERVICES</h1>
    <div class="big-container row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/transport2.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">NATIONAL EXPRESS DELIVERY</h5>
                  <a href="{% url 'services' %}" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/transport3.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">NATIONAL NEXT DAY DELIVERY</h5>
                  <a href="{% url 'services' %}" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/transport1.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">INTERNATIONAL EXPRESS DELIVERY</h5>
                  <a href="{% url 'services' %}" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/download4.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">SPECIAL DELIVERY SERVICE</h5>
                  <a href="{% url 'services' %}" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/download5.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">FULFILLMENT</h5>
                  <a href="{% url 'services' %}" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/download6.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">E-COMMERCE SOLUTION</h5>
                  <a href="{% url 'services' %}" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>
    </div>

    <!-- SHIPPING -->
    <div class="big-container row bg-grey">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/download6.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">E-COMMERCE SOLUTION</h5>
                  <p class="card-text">
                      Get one step ahead of your competition and reach your 
                      customers with the strength of the AURORA global network. That’s more than 
                      400,000 people working across 107 countries or territories[…]
                  </p>
                  <a href="#" class="btn btn-success">READ MORE</a>
                </div>
              </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="/static/img/download6.png" alt="">
      
                <div class="card-body">
                  <h5 class="card-title">E-COMMERCE SOLUTION</h5>
                  <p class="card-text">
                      Get one step ahead of your competition and reach your 
                      customers with the strength of the AURORA global network. That’s more than 
                      400,000 people working across 107 countries or territories[…]
                  </p>
                  <a href="#" class="btn btn-success">READ MORE</a>
                </div>
              </div>
          </div>
    </div>

    <!-- OUR REFERNCES -->
   <h3 class='text-center'>OUR REFERENCES</h3> 
  <div class='grid'>
      <div>
        <img src="/static/img/logo.png" alt='logo'/>
      </div>
      <div>
        <img src="/static/img/logo.png" alt='logo'/>
      </div>
      <div>
        <img src="/static/img/logo.png" alt='logo'/>
      </div>
      <div>
        <img src="/static/img/logo.png" alt='logo'/>
      </div>
  </div>
    
   <!-- OUR PARTNERS -->
   <div class="partners-custom-container row  p-5">
       <div class='col-md-6'>
           <h3 class='text-center move-down'>OUR PARTNERS</h3>
       </div>

       <div class='col-md-6 col-sm-12 text-center'>
            <img src="/static/img/logo.png" alt='logo'/>
            <img src="/static/img/logo.png" alt='logo'/>
            <img src="/static/img/logo.png" alt='logo'/>
       </div>
   </div>
    
{% endblock content %}
