{% extends 'Shipper/base.html' %}

{% block content %}
<div class='mt-7 p-5 banner-image'>
    <div class='text-white'>
        <h1 style='font-size: 3.0rem'>SERVICES</h1>
        <h5>BEST COURIER GATEWAY TO OVER 107 COUNTRIES</h5>
    </div>
</div>

<div class='p-5'>
    <h4>FULL SERVICE SOLUTIONS</h4>
    <p>
        At Mark Express, we have a wide range of delivery solutions that are flexible and efficient in Belgium or abroad. Our services include:
    </p>
    <h5>
        NATIONAL EXPRESS DELIVERY
    </h5>
    <p>
        We have a dedicated national courier service providing you with an express parcel delivery tailored to your time and type of package.
    </p>
    <h5>
        NATIONAL NEXT DAY DELIVERY
    </h5>
    <p>
        We are offering with our partners the largest next day delivery network in Belgium. Mark Express collects, routes and delivers more than ten thousand parcels each month.
    </p>

    <h5>
        INTERNATIONAL NEXT DAY DELIVERY
    </h5>
    <p>
        Express services to another country with several delivery options: from emergency same day, through guaranteed time-critical next day, to less urgent day certain option
    </p>

   
        <div class='d-flex justify-content-center'>
            <img src="/static/img/download4.png" style="width:400px; height:400px" alt="" class="img-fluid"></img>
        </div>    
   
   

</div>

{% endblock content %}